
      <!-- coordinates -->
<!-- <form (ngSubmit)="onCoordSubmit()">
  <div>
    <label for="latitud">Latitud:</label>
    <input type="text" id="latitud" name="latitud" [(ngModel)]="latitud" required>
  </div>
  <div>
    <label for="longitud">Longitud:</label>
    <input type="text" id="longitud" name="longitud" [(ngModel)]="longitud" required>
  </div>
  <button type="submit">Acept</button>
</form> -->
        <!-- city - country - state -->
<!-- <form (ngSubmit)="onLocationByCitySubmit()">
  <div>
    <label for="city_name">City name:</label>
    <input type="text" id="city_name" name="city_name" [(ngModel)]="city_name" required>
  </div>
  <div>
    <label for="country_code">Country code:</label>
    <input type="text" id="country_code" name="country_code" [(ngModel)]="country_code" >
  </div>
  <div>
    <label for="state_code">State code:</label>
    <input type="text" id="state_code" name="state_code" [(ngModel)]="state_code" >
  </div>
  <button type="submit">Acept</button>
</form> -->
      <!-- city id -->
      <!-- <form (ngSubmit)="onCityIdSubmit()">
        <div>
          <label for="latitud">City id:</label>
          <input type="text" id="city_id" name="city_id" [(ngModel)]="city_id" required>
        </div>
        <button type="submit">Acept</button>
      </form> -->
<!-- zip - country -->
<!-- <form (ngSubmit)="onZipSubmit()">
  <div>
    <label for="latitud">Zip code:</label>
    <input type="text" id="zip_code" name="zip_code" [(ngModel)]="zip_code" required>
  </div>
  <div>
    <label for="country_code">Country code:</label>
    <input type="text" id="country_code" name="country_code" [(ngModel)]="country_code" >
  </div>
  <button type="submit">Acept</button>
</form> -->

<div class="container">
  <div class="form_container">
    <form (ngSubmit)="onLocationByCitySubmit()">
      <input type="text" placeholder="City" class="input-field" id="city_name" name="city_name" [(ngModel)]="city_name" required>
      <button type="submit" class="search-button">.</button>
    </form>
  </div>
  
  @if (show) 
  {
    <div class="weather_container">
    <div class="img_container">
      <img src="assets\img\sun.svg" alt="">
    </div>
    <div class="data_container">
      <div class="value_data_container">{{ weatherInterface.name }}  -  {{ weatherInterface.sys.country }}</div>
      <div class="value_data_container">{{ weatherInterface.main.temp.toFixed(1) }}°c</div>
      <div class="value_data_container">{{ weatherInterface.main.humidity }}</div>
      <div class="value_data_container"></div>
    </div>
  </div>
  }
  
</div>


