/* Component 1 */

/* box-sizing: border-box;

position: absolute;
width: 1343.66px;
height: 598.66px;
left: 835px;
top: 548px;

background: linear-gradient(116.46deg, rgba(255, 255, 255, 0.4) 14.63%, rgba(255, 255, 255, 0.1) 68.61%, rgba(217, 217, 217, 0) 68.61%);
box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(20px);

border-radius: 15px; */

.container
{
position: relative;
width: 900px;
height: 500px;
background: linear-gradient(63.82deg, #05159E 0%, #D7FDFF 125.57%, #84D3FF 125.58%);
border-radius: 6px;

display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

.weather_container
{
position: relative;
width: 415px;
height: 200px;
background: linear-gradient(63.82deg, #05159E 0%, #D7FDFF 125.57%, #84D3FF 125.58%);
box-sizing: border-box;
background: linear-gradient(116.46deg, rgba(255, 255, 255, 0.4) 14.63%, rgba(255, 255, 255, 0.1) 68.61%, rgba(217, 217, 217, 0) 68.61%);
box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
border-radius: 15px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.img_container
{
    position: relative;
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #FFFFFF;;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img
{
    position: absolute;
    height: 60%;
    width: 80%;
    background: transparent;
}

.data_container
{
    /* position: relative; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.value_data_container
{
    /* position: absolute; */
    width: 100%;
    display: flex;
    flex-direction: row;
mix-blend-mode: overlay;
color: white;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
  }

  .form_container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .input-field {
    width: calc(100% - 100px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
  }
  
  .search-button {
    width: 40px;
    height: 40px;
    background-color: #007bff;
    background-image: url("../assets/icon/search.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    border: none;
    border-radius: 5px; 
    color: #fff; 
    cursor: pointer;
  }
  
  .search-button i {
    font-size: 20px;
  }
  